[Unit]
Description=Erlang Echo service - UDP
Requires=sockets.target
PartOf=echo-udp.socket

[Socket]
FileDescriptorName=udp
ListenDatagram=7
BindIPv6Only=both
ReusePort=true
Service=echo.service
