[Unit]
Description=Erlang Echo service - TCP
Requires=sockets.target

[Socket]
FileDescriptorName=tcp
ListenStream=7
BindIPv6Only=both
ReusePort=true
NoDelay=true
Service=echo.service
