[Unit]
Description=Erlang Echo service - TCP
Requires=sockets.target

[Socket]
FileDescriptorName=tcp
ListenStream=7
BindIPv6Only=both
Service=echo.service
