[Unit]
Description=Echo service in Erlang
; Requires=epmd.socket
After=echo-tcp.socket echo-udp.socket
BindsTo=echo-tcp.socket echo-udp.socket

[Service]
# Create required directories configure HOME
Environment=HOME=/run/%N
RuntimeDirectory=%N
LogsDirectory=%N

# Do not start EPMD as this is managed by `epmd.socket`
Environment='ERL_FLAGS=-start_epmd false'
Environment=ERL_CRASH_DUMP=/var/log/%N/erl_crash.dump

DynamicUser=true
Type=notify-reload
ExecStart=/opt/echo/bin/echo foreground
WatchdogSec=1min
NotifyAccess=main
Restart=on-failure
KillMode=mixed
