[Unit]
Description=Echo service in Erlang
Requires=epmd.socket
After=echo-tcp.socket echo-udp.socket
BindsTo=echo-tcp.socket echo-udp.socket

[Service]
# Create required directories configure HOME
Environment=HOME=/run/%N
RuntimeDirectory=%N

# Do not start EPMD as this is managed by `epmd.socket`
Environment='ERL_FLAGS=-start_epmd false'

DynamicUser=true
Type=notify
ExecStart=/opt/echo/bin/echo foreground
WatchdogSec=1min
NotifyAccess=main
Restart=on-failure
KillMode=mixed
