[Unit]
Description=Erlang Echo service - TCP
Requires=sockets.target
PartOf=echo-udp.socket

[Socket]
FileDescriptorName=tcp
ListenStream=7
BindIPv6Only=both
Service=echo.service
