[Unit]
Description=Example BEAM application
Requires=epmd.socket

[Service]
# Create required directories configure HOME
Environment=HOME=/run/%N
WorkingDirectory=/run/%N
RuntimeDirectory=%N
RuntimeDirectoryPreserve=yes

# Do not start EPMD as this is managed by `epmd.socket`
Environment='ERL_FLAGS=-start_epmd false'

User=www-data
Group=www-data
Type=notify
ExecStart=/opt/plug/bin/plug start
WatchdogSec=1min
NotifyAccess=main
Restart=on-failure

# Security options
# Disable crash dump
Environment=ERL_CRASH_DUMP_SECONDS=0
# Protect directories and create private FS
ProtectSystem=full
ProtectHome=yes
PrivateDevices=yes
PrivateTmp=yes
NoNewPrivileges=yes
