[Unit]
Description=Example Plug application
; Requires=epmd.socket
After=plug.socket
BindsTo=plug.socket

[Service]
# Create required directories configure HOME
Environment=HOME=/run/%N
RuntimeDirectory=%N

# Do not start EPMD as this is managed by `epmd.socket`
; Environment='ERL_FLAGS=-start_epmd false'
# -kernel inet_backend socket'

DynamicUser=true
Type=notify
ExecStart=/opt/plug/bin/plug start
WatchdogSec=1min
NotifyAccess=main
Restart=on-failure
KillMode=mixed
