name: Erlang CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        otp_version: ['26', '25', '24']
    steps:
    - uses: actions/checkout@v1
    - name: Set up Elixir
      uses: erlef/setup-beam@v1
      with:
        otp-version: ${{ matrix.otp_version }}
        rebar3-version: '3.16'
    - name: Restore dependencies cache
      uses: actions/cache@v2
      with:
        path: deps
        key: ${{ runner.os }}-otp-${{ matrix.otp_version }}-mix-${{ hashFiles('**/rebar.lock') }}
        restore-keys: ${{ runner.os }}-otp-${{ matrix.otp_version }}-rebar-
    - name: Compile
      run: rebar3 compile
    - name: Run tests
      run: rebar3 do ct --cover
    - name: Generate coverage data
      run: rebar3 covertool generate
    - uses: codecov/codecov-action@v1
      with:
        file: ./_build/test/covertool/systemd.covertool.xml
        flags: otp-${{ matrix.otp_version }}

  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Elixir
      uses: erlef/setup-beam@v1
      with:
        otp-version: '24'
        rebar3-version: '3.16'
    - name: Check if docs build
      run: rebar3 ex_doc
